body {
  height: 100vh;
  font-family: sans-serif;
  background-color: #22222a;
}

::selection {
  color: #e3e3e8;
  background-color: #22222a;
}

a {
  color: #323267;
}
a:hover {
  color: #111122;
}

body {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 63.9613498371px;
}

h2 {
  font-size: 45.234335104px;
}

h3 {
  font-size: 31.990336px;
}

h4 {
  font-size: 22.624px;
}

h1 {
  line-height: 64px;
}

h2 {
  line-height: 48px;
}

h3 {
  line-height: 32px;
}

h4 {
  line-height: 32px;
}

a {
  color: #323267;
}
a:hover {
  color: #111122;
}

body {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 63.9613498371px;
}

h2 {
  font-size: 45.234335104px;
}

h3 {
  font-size: 31.990336px;
}

h4 {
  font-size: 22.624px;
}

h1 {
  line-height: 64px;
}

h2 {
  line-height: 48px;
}

h3 {
  line-height: 32px;
}

h4 {
  line-height: 32px;
}

header.flex {
  padding: 8px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
header.flex .logo {
  width: 200px;
  height: 50px;
  background-image: url("../../assets/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
header.flex .hamburger-menu {
  cursor: pointer;
  padding: 16px;
}
@media only screen and (max-width: 767px) {
  header.flex .hamburger-menu {
    display: block;
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  header.flex .hamburger-menu {
    display: none;
  }
}
header.flex .hamburger-menu .hamburger-menu__content--container {
  padding: 16px;
  position: absolute;
  top: 40px;
  right: 13px;
  width: 232px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms ease-out, opacity 300ms ease-out, height 300ms ease-out;
}
header.flex .hamburger-menu .hamburger-menu__content {
  background-color: #0b0b0f;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
header.flex .hamburger-menu .hamburger-menu__content ul {
  width: 100%;
}
header.flex .hamburger-menu .hamburger-menu__content ul > a {
  padding: 16px 32px;
  max-width: 100%;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
header.flex .hamburger-menu .hamburger-menu__content ul > a:hover {
  background-color: #f0c775;
  color: #121221;
}
header.flex .hamburger-menu .hamburger-menu__content ul > a.active {
  font-weight: 900;
  color: #f0c775;
  background-color: #121221;
  cursor: default;
}
header.flex .hamburger-menu:hover .hamburger-menu__content--container {
  display: flex;
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  header.flex nav {
    display: none;
  }
}
header.flex nav ul {
  list-style-type: none;
  display: flex;
}
header.flex nav ul a {
  margin-right: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: rgba(255, 255, 255, 0);
  width: 100px;
  text-align: center;
  transition: all 200ms ease 0ms;
}
s header.flex nav ul a:last-child {
  margin-right: unset;
}
header.flex nav ul a:hover {
  font-weight: 900;
}
header.flex nav ul a.active {
  font-weight: 900;
}

a {
  color: #323267;
}
a:hover {
  color: #111122;
}

body {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 63.9613498371px;
}

h2 {
  font-size: 45.234335104px;
}

h3 {
  font-size: 31.990336px;
}

h4 {
  font-size: 22.624px;
}

h1 {
  line-height: 64px;
}

h2 {
  line-height: 48px;
}

h3 {
  line-height: 32px;
}

h4 {
  line-height: 32px;
}

section.title {
  color: white;
  padding: 16px 32px;
}
section.title h1 {
  color: #c7c7d1;
  margin-bottom: 16px;
}
section.title h4 {
  font-size: 22.624px;
  color: #73738c;
  margin-bottom: 16px;
}
section.title ul.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
section.title ul.flex li {
  margin-right: 8px;
  margin-bottom: 16px;
  padding: 6px 12px;
  background-color: white;
  color: #121221;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-variant-caps: all-small-caps;
  font-variant-numeric: oldstyle-nums;
  box-shadow: 0.1px 0.1px 0 0 white, -0.1px -0.1px 0 0 white;
  transition: all 200ms ease-out 0ms;
}
section.title ul.flex li:hover {
  box-shadow: 3px 3px 0 0 white, -3px -3px 0 0 white;
}
section.title ul.flex li:last-child {
  margin-right: unset;
}

a {
  color: #323267;
}
a:hover {
  color: #111122;
}

body {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 63.9613498371px;
}

h2 {
  font-size: 45.234335104px;
}

h3 {
  font-size: 31.990336px;
}

h4 {
  font-size: 22.624px;
}

h1 {
  line-height: 64px;
}

h2 {
  line-height: 48px;
}

h3 {
  line-height: 32px;
}

h4 {
  line-height: 32px;
}

main.projects {
  padding: 16px 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 200px);
  grid-gap: 16px;
  grid-auto-rows: 200px;
}
@media only screen and (max-width: 500px) {
  main.projects {
    grid-template-columns: 1fr;
  }
}
main.projects .project {
  background-image: url("../../assets/images/Form PHP.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
main.projects .project--1::after {
  content: "react.js";
}
main.projects .project--2::after {
  content: "redux";
}
main.projects .project--3::after {
  content: "javascript";
}
main.projects .project--4::after {
  content: "html5";
}
main.projects .project--5::after {
  content: "css3";
}
main.projects .project--6::after {
  content: "visual design";
}
main.projects .project::after {
  position: absolute;
  color: #e2e2e9;
  text-transform: uppercase;
  font-weight: 700;
  font-variant-caps: all-small-caps;
  background-color: rgba(219, 184, 112, 0.9);
  transform: rotateZ(45deg);
  width: 200px;
  padding: 8px;
  text-align: center;
  top: 40px;
  right: -50px;
}
main.projects .project:nth-child(even) {
  background-image: url("../../assets/images/Form PHP.png");
}

a {
  color: #323267;
}
a:hover {
  color: #111122;
}

body {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 63.9613498371px;
}

h2 {
  font-size: 45.234335104px;
}

h3 {
  font-size: 31.990336px;
}

h4 {
  font-size: 22.624px;
}

h1 {
  line-height: 64px;
}

h2 {
  line-height: 48px;
}

h3 {
  line-height: 32px;
}

h4 {
  line-height: 32px;
}

footer.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
footer.flex h2,
footer.flex p {
  color: white;
  margin-bottom: 16px;
  text-align: center;
}
footer.flex h2:first-letter,
footer.flex p:first-letter {
  text-transform: uppercase;
}
footer.flex h2 > a,
footer.flex p > a {
  font-weight: 900;
  color: darkgray;
  text-decoration: none;
}
footer.flex h2 {
  font-weight: 900;
}
footer.flex p:last-child {
  margin-bottom: unset;
}

.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(70px, min-content) min-content min-content;
  grid-auto-rows: min-content;
  grid-gap: 16px;
}
.wrapper header.flex {
  grid-column: 1/span all;
  grid-row: 1/2;
}
.wrapper section.title {
  grid-column: 3/11;
  grid-row: 2/3;
}
.wrapper main.projects {
  grid-column: 3/11;
  grid-row: 3/4;
}
@media only screen and (max-width: 500px) {
  .wrapper main.projects {
    grid-column: 1/span all;
  }
}
.wrapper footer {
  grid-column: 1/span all;
  grid-row: 4/5;
}

section.contact {
  display: grid;
  grid-template-columns: 200px 200px 1fr 200px;
  grid-template-rows: repeat(2, 200px);
  grid-gap: 16px;
  grid-auto-rows: min-content;
}
section.contact div.email {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.contact div.email h2 {
  color: #f0f0f4;
  font-size: 45.234335104px;
}
section.contact div.email a {
  color: #323267;
  text-decoration: none;
}
section.contact div.email a:hover {
  color: #111122;
}
section.contact div.mobile {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.contact div.mobile h2 {
  color: #f0f0f4;
  font-size: 45.234335104px;
}
section.contact div.mobile a {
  color: #323267;
  text-decoration: none;
}
section.contact div.mobile a:hover {
  color: #111122;
}
section.contact div.form {
  grid-column: 1/3;
  color: #f0f0f4;
}
section.contact div.form h3 {
  margin-bottom: 16px;
}
section.contact div.form h3:first-letter {
  text-transform: uppercase;
  line-height: 32px;
}
section.contact div.form label {
  color: #f0f0f4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}
section.contact div.form input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #f0f0f4;
  background-color: #111122;
  margin-bottom: 16px;
}
section.contact div.form input:focus {
  outline: #323267;
}

/*# sourceMappingURL=style.css.map */
