@mixin align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin font-colors {
  h4 {
    color: $base-color;
    font-size: $h4;
  }
  h3 {
    a {
      color: $anchor-color;
      text-decoration: none;
      background-color: $base-color;
      &:hover {
        color: $anchor-color-hover;
        text-decoration: underline;
      }
    }
  }
}
