// anchor link colors
a {
  color: $anchor-color;
  &:hover {
    color: $anchor-color-hover;
  }
}

// default body styles
body {
  font-size: $base-size;
  line-height: $base-size-lheight;
}

// default heading font-sizes
h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}

// default heading line heights
h1 {
  line-height: $h1-lheight;
}
h2 {
  line-height: $h2-lheight;
}
h3 {
  line-height: $h3-lheight;
}
h4 {
  line-height: $h4-lheight;
}
